stages:
  - validate
  - scan
  - infra_plan
  - infra_apply
  - deploy

include:
  - local: pipelines/gitlab/templates/terraform.yml
  - local: pipelines/gitlab/templates/security-scans.yml
  - local: pipelines/gitlab/templates/deploy.yml

variables:
  TF_VERSION: "1.6.6"
  ENVIRONMENT: "dev"

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      variables: { ENVIRONMENT: "dev" }
    - if: '$CI_COMMIT_BRANCH =~ /^release\/.*/'
      variables: { ENVIRONMENT: "uat" }
    - if: '$CI_COMMIT_TAG'
      variables: { ENVIRONMENT: "prod" }
    - when: always
